body {
    font-family: Arial, sans-serif;
    margin: 0;
    background: white;
    color: dimgrey;
}

header {
    background: rgb(166, 10, 10);
    color: aliceblue;
    padding: 20px;
    text-align: center;
}

header h1 {
    margin: 0;
    font-size: 2.5rem;
}

header p {
  font-size: 1.2rem;
}

.introducao img{
    width: 500px;
    border-radius: 10px;
}
.beneficios{
    margin-bottom: 40px;
}
.beneficios h2 {
    color: rgb(180, 18, 18);
    margin-bottom: 15px;
}
.beneficios ul{
    list-style: none;
    padding: 0;
}
.beneficios li {
    margin: 10px 0;
    font-size: 1.1em;
}
.beneficios i {
    color: darkgreen;
    margin-right: 10px;
}
.recursos h2{
    color:brown;
    margin-bottom: 20px;
    text-align: center;
}
.cards{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 20px;
}
.card{
    background: white;
    padding: 20px;
    border-radius: 12px;
    width: 250px;
    text-align: center;
    box-shadow: 0 4px 10px rgb(169, 25, 25);
    transition: transform 0.3s;
}
.card:hover{
    transform: scale(1.05);
}
.card img{
    width: 220px;
    margin-bottom: 15px;
}
.card h3{
    margin-bottom: 10px;
    color: black;
}
.card p{
    font-size: 0.95em;
    margin-bottom: 15px;
}
.card a{
    text-decoration: none;
    color: aliceblue;
    background: rgb(156, 14, 14);
    padding: 8px 5px;
    border-radius: 6px;
    transition: background 0.03;
}
.card a:hover{
    background: brown;
}
.rodape{
    background-color: rgb(146, 15, 15);
    color: white;
    padding: 20px 0;
    text-align: center;
    margin-top: 40px;
}
.container-rodape{
    max-width: 1200px;
    margin: 0 auto;
}
.links-rodape{
    list-style: none;
    padding: 0;
    margin: 10px 0 0;
    display: flex;
    justify-content: center;
    gap: 20px;
}
.links-rodape a{
    color: white;
    text-decoration: none;
    transition: 0.3s;
}
.links-rodape a:hover{
    color: rgb(255, 255, 255);
}